.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* for momentum scrolling on iOS */
    scrollbar-width: none; /* hide scrollbar on Firefox */
}

.scroll-container::-webkit-scrollbar {
    display: none; /* hide scrollbar on Chrome/Safari */
}

.scroll-button {
    flex: 0 0 auto;
    margin: 10px;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
    margin-top: 4rem;
}


.hide-overlay {
    display: none;
}